
{% extends 'base.html.twig' %}

{% block body %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Suppression d'employé</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>voulez supprimmez cet employé ?</p>
        </div>
        <div class="modal-footer">
            <a href="{{ path('sup',{'id':monButton}) }}"><button type="button"  class="btn btn-info" data-dismiss="modal">Supprimer</button></a>
            <a href="{{ path('all') }}"><button type="button"  class="btn btn-secondary" data-dismiss="modal">Annulez</button></a>
        </div>
        </div>
    </div>
{% endblock %}